/* estilos globales */
main{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   
}


/* estilos del footer */

#creditos{
    text-align: center;
}



/* media querys */
@media (min-width: 993px) {
    main{
        display:flex;
    }
}
@media (max-width: 992px) {
    #informacion {
        display: block;
    }
    
    #tablaDiv {
        display: block;
  }
}